In [4]:
DATA <- read.csv(file="/home/naina/Downloads/June 10-July 12, 2015 - Gaming, Jobs and Broadband/June 10-July 12, 2015 - Gaming, Jobs and Broadband - CSV.csv")

In [5]:
head(DATA)

  psraid sample int_date lang usr cregion state form sex q1 ⋯ ideo hisp
1 100006 1      61015    1    S   3       51    1    2   1  ⋯ 1    2
2 100009 1      61015    1    U   3       24    2    2   2  ⋯ 3    2
3 100011 1      61015    1    S   2       39    2    2   1  ⋯ 1    2
4 100039 1      61015    1    S   3       37    2    2   1  ⋯ 2    2
5 100040 1      61015    1    U   3       21    1    2   1  ⋯ 1    2
6 100043 1      62215    1    R   2       20    1    2   1  ⋯ 3    2
  birth_hisp race inc ql1a qc1 zipcode weight   standwt
1 NA         1    99  NA   NA  20112   2.258065 0.7209406
2 NA         2     6  NA   NA  21239   2.548387 0.8136330
3 NA         1     3  NA   NA  44730   1.806452 0.5767525
4 NA         1     6  NA   NA  27028   5.032258 1.6066676
5 NA         1     3   2   NA  40511   7.161290 2.2864116
6 NA         1     8  NA   NA  67601   1.000000 0.3192737

In [6]:
summary(DATA)

     psraid           sample        int_date          lang       usr
 Min.   :100006   Min.   :1.00   Min.   :61015   Min.   :1.000   R:375
 1st Qu.:102765   1st Qu.:1.00   1st Qu.:62115   1st Qu.:1.000   S:971
 Median :201182   Median :2.00   Median :62415   Median :1.000   U:655
 Mean   :167354   Mean   :1.65   Mean   :63683   Mean   :1.051
 3rd Qu.:203261   3rd Qu.:2.00   3rd Qu.:62915   3rd Qu.:1.000
 Max.   :205508   Max.   :2.00   Max.   :71215   Max.   :2.000

    cregion          state            form            sex
 Min.   :1.000   Min.   : 1.00   Min.   :1.000   Min.   :1.000
 1st Qu.:2.000   1st Qu.:13.00   1st Qu.:1.000   1st Qu.:1.000
 Median :3.000   Median :29.00   Median :2.000   Median :2.000
 Mean   :2.667   Mean   :28.82   Mean   :1.515   Mean   :1.506
 3rd Qu.:3.000   3rd Qu.:42.00   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :4.000   Max.   :56.00   Max.   :2.000   Max.   :2.000

       q1              q3           eminuse          intmob
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000
 Median :2.000   Median :2.000   Median :1.000   Median :1.000
 Mean   :1.824   Mean   :2.568   Mean   :1.169   Mean   :1.266
 3rd Qu.:2.000   3rd Qu.:3.000   3rd Qu.:1.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000

    intfreq         home4nw        bbhome1         bbhome2         bbhome3a
 Min.   :1.000   Min.   :1.00   Min.   :1.000   Min.   :1.000   Min.   :1.00
 1st Qu.:2.000   1st Qu.:1.00   1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.00
 Median :2.000   Median :1.00   Median :2.000   Median :1.000   Median :2.00
 Mean   :2.336   Mean   :1.14   Mean   :2.243   Mean   :1.646   Mean   :2.22
 3rd Qu.:3.000   3rd Qu.:1.00   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:3.00
 Max.   :9.000   Max.   :8.00   Max.   :9.000   Max.   :8.000   Max.   :9.00
 NA's   :261     NA's   :261    NA's   :492     NA's   :1953
    bbhome3b        bbhome3c        bbhome3d        bbhome3e       device1a
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.00   1st Qu.:1.000
 Median :2.000   Median :2.000   Median :2.000   Median :2.00   Median :1.000
 Mean   :2.128   Mean   :2.251   Mean   :2.184   Mean   :2.13   Mean   :1.167
 3rd Qu.:3.000   3rd Qu.:3.000   3rd Qu.:3.000   3rd Qu.:3.00   3rd Qu.:1.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.00   Max.   :9.000
                                                                NA's   :1300
     smart1            q4            bbsmart1        bbsmart2
 Min.   :1.000   Min.   : 1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.: 1.000   1st Qu.:1.000   1st Qu.:2.000
 Median :1.000   Median : 2.000   Median :2.000   Median :2.000
 Mean   :1.676   Mean   : 9.663   Mean   :2.045   Mean   :2.059
 3rd Qu.:2.000   3rd Qu.: 4.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :99.000   Max.   :9.000   Max.   :9.000
 NA's   :98      NA's   :1425     NA's   :1396    NA's   :1396
   bbsmart3a       bbsmart3b       bbsmart3c       bbsmart3d
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000
 Median :1.000   Median :2.000   Median :1.000   Median :2.000
 Mean   :1.896   Mean   :1.964   Mean   :1.775   Mean   :1.884
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000
 NA's   :1396    NA's   :1396    NA's   :1757    NA's   :1396
   bbsmart3e       bbsmart3f        bbsmart4         cable1
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000
 Median :2.000   Median :2.000   Median :3.000   Median :1.000
 Mean   :2.792   Mean   :2.177   Mean   :3.187   Mean   :1.226
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:5.000   3rd Qu.:1.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :8.000
 NA's   :1396    NA's   :1396    NA's   :1600
     cable2         cable3a         cable3b         cable3c
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000
 Median :1.000   Median :2.000   Median :1.000   Median :1.000
 Mean   :1.425   Mean   :1.723   Mean   :1.416   Mean   :1.624
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :8.000   Max.   :9.000   Max.   :9.000   Max.   :9.000
 NA's   :1578    NA's   :1578    NA's   :1578    NA's   :1578
     act19           act87a          act87b          act137
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000
 Median :1.000   Median :1.000   Median :1.000   Median :2.000
 Mean   :1.436   Mean   :1.291   Mean   :1.381   Mean   :1.532
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :8.000   Max.   :8.000   Max.   :8.000   Max.   :8.000
 NA's   :261     NA's   :1174    NA's   :1088    NA's   :261
      q5a             q5b             q5c             q5d            q5e
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.00
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.00   1st Qu.:2.00
 Median :2.000   Median :2.000   Median :1.000   Median :2.00   Median :2.00
 Mean   :1.699   Mean   :1.577   Mean   :1.342   Mean   :1.66   Mean   :1.79
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.00   3rd Qu.:2.00
 Max.   :8.000   Max.   :8.000   Max.   :8.000   Max.   :2.00   Max.   :2.00
 NA's   :1068    NA's   :1068    NA's   :1068    NA's   :1031   NA's   :1031
      q5f            date1a          date2a          date3a
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:2.000   1st Qu.:2.000   1st Qu.:1.000
 Median :2.000   Median :2.000   Median :2.000   Median :2.000
 Mean   :1.541   Mean   :1.878   Mean   :1.905   Mean   :1.684
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :8.000   Max.   :9.000
 NA's   :1031    NA's   :261     NA's   :674
     date3b          date4a          date4b          date4c
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:2.000
 Median :2.000   Median :1.000   Median :2.000   Median :2.000
 Mean   :1.773   Mean   :1.869   Mean   :1.991   Mean   :2.195
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000

     date4d          date4e         date4f          game1           game2a
 Min.   :1.000   Min.   :1.00   Min.   :1.000   Min.   :1.000   Min.   :1.00
 1st Qu.:1.000   1st Qu.:1.00   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:2.00
 Median :2.000   Median :2.00   Median :1.000   Median :2.000   Median :2.00
 Mean   :2.397   Mean   :2.15   Mean   :1.811   Mean   :1.554   Mean   :3.34
 3rd Qu.:2.000   3rd Qu.:2.00   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:3.00
 Max.   :9.000   Max.   :9.00   Max.   :9.000   Max.   :9.000   Max.   :9.00

     game2b          game2c          game2d          game2e
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:2.000   1st Qu.:2.000   1st Qu.:2.000
 Median :2.000   Median :3.000   Median :3.000   Median :8.000
 Mean   :3.058   Mean   :4.671   Mean   :3.993   Mean   :5.238
 3rd Qu.:3.000   3rd Qu.:8.000   3rd Qu.:8.000   3rd Qu.:8.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000

     game2f          game3a          game3b          game4
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:2.000
 Median :3.000   Median :1.000   Median :2.000   Median :2.000
 Mean   :3.899   Mean   :2.134   Mean   :2.128   Mean   :1.938
 3rd Qu.:8.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :8.000
                                                 NA's   :1076
     emplnw          emptype1         emptype2        emptype3
 Min.   : 1.000   Min.   : 1.000   Min.   :1.000   Min.   :1.000
 1st Qu.: 1.000   1st Qu.: 1.000   1st Qu.:1.000   1st Qu.:1.000
 Median : 2.000   Median : 3.000   Median :2.000   Median :1.000
 Mean   : 2.769   Mean   : 3.419   Mean   :1.605   Mean   :2.249
 3rd Qu.: 3.000   3rd Qu.: 4.000   3rd Qu.:2.000   3rd Qu.:4.000
 Max.   :99.000   Max.   :98.000   Max.   :8.000   Max.   :8.000
                  NA's   :901      NA's   :901     NA's   :1347
      stud           job1a           job1b           job1c
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:3.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000
 Median :3.000   Median :1.000   Median :1.000   Median :1.000
 Mean   :2.829   Mean   :1.813   Mean   :1.584   Mean   :1.714
 3rd Qu.:3.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000
 NA's   :5       NA's   :632     NA's   :632     NA's   :632
     job1d           job1e          job1f            job2           job3a
 Min.   :1.000   Min.   :1.00   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.00   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000
 Median :1.000   Median :2.00   Median :1.000   Median :2.000   Median :1.000
 Mean   :1.643   Mean   :2.13   Mean   :1.709   Mean   :1.719   Mean   :1.344
 3rd Qu.:2.000   3rd Qu.:3.00   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.00   Max.   :9.000   Max.   :8.000   Max.   :2.000
 NA's   :632     NA's   :632    NA's   :632                     NA's   :1396
     job3b           job3c           job3d          job3e           job3f
 Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.00   1st Qu.:1.000   1st Qu.:1.000
 Median :1.000   Median :1.000   Median :1.00   Median :2.000   Median :2.000
 Mean   :1.456   Mean   :1.359   Mean   :1.22   Mean   :1.689   Mean   :1.694
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:1.00   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :8.000   Max.   :8.000   Max.   :8.00   Max.   :8.000   Max.   :8.000
 NA's   :1396    NA's   :1396    NA's   :1396   NA's   :1396    NA's   :1396
     job3g           job3h            job4            smjob1
 Min.   :1.000   Min.   :1.000   Min.   : 1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:2.000   1st Qu.: 2.000   1st Qu.:1.000
 Median :2.000   Median :2.000   Median : 3.000   Median :2.000
 Mean   :1.755   Mean   :2.079   Mean   : 4.687   Mean   :1.633
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.: 4.000   3rd Qu.:2.000
 Max.   :8.000   Max.   :9.000   Max.   :99.000   Max.   :2.000
 NA's   :1396    NA's   :1396    NA's   :1467     NA's   :674
    smjob2a        smjob2b         smjob2c         smjob2d         smjob2e
 Min.   :1.00   Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.00   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:2.000   1st Qu.:1.000
 Median :1.00   Median :1.000   Median :2.000   Median :2.000   Median :1.000
 Mean   :1.07   Mean   :1.273   Mean   :1.546   Mean   :1.786   Mean   :1.135
 3rd Qu.:1.00   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:1.000
 Max.   :2.00   Max.   :8.000   Max.   :2.000   Max.   :2.000   Max.   :2.000
 NA's   :1514   NA's   :1514    NA's   :1514    NA's   :1514    NA's   :1514
     smjob3         smjob4a         smjob4b         smjob4c
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.000
 Median :2.000   Median :2.000   Median :2.000   Median :2.000
 Mean   :1.758   Mean   :1.671   Mean   :1.575   Mean   :1.712
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000
 NA's   :1514    NA's   :1514    NA's   :1514    NA's   :1514
    smjob4d         smjob4e         snsjob1a        snsjob1b
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:2.000
 Median :2.000   Median :2.000   Median :2.000   Median :2.000
 Mean   :1.825   Mean   :1.591   Mean   :1.679   Mean   :1.824
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000
 NA's   :1514    NA's   :1514    NA's   :778     NA's   :778
    snsjob1c        snsjob2a        snsjob2b         job5a          job5b
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.00
 1st Qu.:1.000   1st Qu.:2.000   1st Qu.:2.000   1st Qu.:1.00   1st Qu.:1.00
 Median :2.000   Median :2.000   Median :2.000   Median :1.00   Median :1.00
 Mean   :1.702   Mean   :1.944   Mean   :2.025   Mean   :1.26   Mean   :1.32
 3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:1.00   3rd Qu.:2.00
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.00   Max.   :9.00
 NA's   :778     NA's   :778     NA's   :778     NA's   :901    NA's   :901
     job5c           job5d           auto1a          auto1b
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:3.000   1st Qu.:3.000
 Median :1.000   Median :1.000   Median :4.000   Median :4.000
 Mean   :1.273   Mean   :1.446   Mean   :3.424   Mean   :3.568
 3rd Qu.:1.000   3rd Qu.:2.000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000
 NA's   :901     NA's   :901     NA's   :901     NA's   :901
     auto1c          auto1d          auto1e          auto2           auto3
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00
 1st Qu.:4.000   1st Qu.:3.000   1st Qu.:2.000   1st Qu.:1.000   1st Qu.:2.00
 Median :4.000   Median :4.000   Median :4.000   Median :2.000   Median :2.00
 Mean   :3.644   Mean   :3.356   Mean   :3.258   Mean   :2.037   Mean   :2.44
 3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:2.000   3rd Qu.:3.00
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.00
 NA's   :901     NA's   :901     NA's   :901     NA's   :901
      age           marital           hh1             par
 Min.   :18.00   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:36.00   1st Qu.:1.000   1st Qu.:2.000   1st Qu.:2.000
 Median :53.00   Median :1.000   Median :2.000   Median :2.000
 Mean   :52.11   Mean   :2.789   Mean   :2.217   Mean   :1.825
 3rd Qu.:66.00   3rd Qu.:5.000   3rd Qu.:2.000   3rd Qu.:2.000
 Max.   :99.00   Max.   :9.000   Max.   :9.000   Max.   :9.000

    kidage1          kidage2          kidage3           educ2
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   : 1.00
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.: 3.00
 Median :0.0000   Median :0.0000   Median :1.0000   Median : 5.00
 Mean   :0.7317   Mean   :0.7191   Mean   :0.7883   Mean   : 5.83
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.: 6.00
 Max.   :9.0000   Max.   :9.0000   Max.   :9.0000   Max.   :99.00
 NA's   :1524     NA's   :1524     NA's   :1524
     edinst           disa           party          partyln
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:2.000   1st Qu.:2.000
 Median :3.000   Median :2.000   Median :2.000   Median :2.000
 Mean   :3.681   Mean   :1.866   Mean   :2.607   Mean   :4.659
 3rd Qu.:4.500   3rd Qu.:2.000   3rd Qu.:3.000   3rd Qu.:8.000
 Max.   :9.000   Max.   :9.000   Max.   :9.000   Max.   :9.000
 NA's   :1766                                    NA's   :1060
      ideo            hisp         birth_hisp         race
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000
 Median :3.000   Median :2.000   Median :1.000   Median :1.000
 Mean   :3.386   Mean   :1.938   Mean   :1.972   Mean   :1.661
 3rd Qu.:4.000   3rd Qu.:2.000   3rd Qu.:3.000   3rd Qu.:1.000
 Max.   :9.000   Max.   :9.000   Max.   :8.000   Max.   :9.000
                                 NA's   :1746
      inc             ql1a            qc1           zipcode
 Min.   : 1.00   Min.   :1.000   Min.   :1.000   Min.   : 1420
 1st Qu.: 3.00   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:28445
 Median : 6.00   Median :2.000   Median :2.000   Median :48150
 Mean   :19.38   Mean   :1.765   Mean   :1.603   Mean   :52317
 3rd Qu.: 8.00   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:78560
 Max.   :99.00   Max.   :9.000   Max.   :9.000   Max.   :99999
                 NA's   :1903    NA's   :701
     weight         standwt
 Min.   :1.000   Min.   :0.3193
 1st Qu.:1.774   1st Qu.:0.5665
 Median :2.677   Median :0.8548
 Mean   :3.132   Mean   :1.0000
 3rd Qu.:4.097   3rd Qu.:1.3080
 Max.   :7.161   Max.   :2.2864

In [7]:
DATA_VAR <- c("sex","age","emplnw","emptype1","inc")
x <- DATA[DATA_VAR]
x

     sex age emplnw emptype1 inc
1    2   47  4      NA       99
2    2   63  3      NA        6
3    2   86  3      NA        3
4    2   40  1       1        6
5    2   65  3      NA        3
6    2   69  2       5        8
7    1   72  3      NA       99
8    1   70  3      NA        7
9    1   77  3      NA        6
10   1   73  3      NA        3
11   2   81  3      NA       99
12   2   77  3      NA       99
13   1   52  1       2        8
14   2   74  3      NA        6
15   2   43  1       8       98
16   2   44  1       1        7
17   1   68  3      NA        4
18   1   87  3      NA        4
19   2   68  3      NA       99
20   1   58  1       2        7
21   2   31  1       2        2
22   1   85  3      NA        6
23   2   93  3      NA        1
24   1   57  1       3        6
25   1   70  3      NA        9
26   2   36  4      NA        7
27   2   39  4      NA        6
28   2   85  3      NA        1
29   2   76  3      NA        6
30   2   63  1       4        6
⋮    ⋮   ⋮   ⋮      ⋮        ⋮
1972 2   27  4      NA        1
1973 2   66  3      NA        5
1974 1   23  1       5        4
1975 1   79  3      NA        4
1976 2   29  4      NA        5
1977 2   65  2       3       99
1978 2   35  1       4        5
1979 1   26  2       2        1
1980 1   60  1       3        9
1981 2   51  6      NA        1
1982 1   27  4      NA        1
1983 2   60  2       2       99
1984 1   43  4      NA        3
1985 2   19  2       3        6
1986 2   36  2       7        1
1987 1   62  1       6        8
1988 1   59  1       4        8
1989 2   34  4      NA        6
1990 1   56  1       2        5
1991 1   63  1       1        3
1992 1   50  1       1        3
1993 2   47  1       1        5
1994 1   72  3      NA        5
1995 2   70  3      NA        4
1996 1   35  1       3        1
1997 2   39  4      NA        9
1998 2   77  3      NA        3
1999 2   40  2       3        6
2000 2   54  1       5        4
2001 2   31  4      NA        5

In [11]:
s_data<-na.omit(x)
nrow(s_data)
s_data

[1] 1100

     sex age emplnw emptype1 inc
4    2   40  1      1         6
6    2   69  2      5         8
13   1   52  1      2         8
15   2   43  1      8        98
16   2   44  1      1         7
20   1   58  1      2         7
21   2   31  1      2         2
24   1   57  1      3         6
30   2   63  1      4         6
33   1   19  2      2         2
34   1   28  2      2         3
36   2   45  1      3         4
43   2   73  2      3         5
44   2   19  2      1         4
45   1   70  5      8         5
46   1   25  1      3        99
49   1   51  1      3         7
50   2   73  1      2         8
51   2   40  1      5         8
55   2   37  1      3         7
57   1   61  1      3         9
58   2   60  1      6         3
60   2   43  1      3         9
65   1   45  1      1         9
72   2   53  2      3         4
73   1   59  5      3         8
77   1   56  1      2         8
83   2   54  1      3         9
84   2   51  1      1         6
87   1   34  1      1         4
⋮    ⋮   ⋮   ⋮      ⋮        ⋮
1951 1   23  2      1         9
1952 2   51  1      1         8
1955 1   28  1      6        99
1956 1   60  1      4         6
1958 2   50  1      1         7
1960 1   25  1      3         2
1961 1   35  1      4         8
1962 2   33  1      6         6
1964 1   53  5      3         4
1965 2   41  1      1         8
1966 1   33  1      2         6
1969 2   55  5      1         7
1970 2   28  1      4         4
1974 1   23  1      5         4
1977 2   65  2      3        99
1978 2   35  1      4         5
1979 1   26  2      2         1
1980 1   60  1      3         9
1983 2   60  2      2        99
1985 2   19  2      3         6
1986 2   36  2      7         1
1987 1   62  1      6         8
1988 1   59  1      4         8
1990 1   56  1      2         5
1991 1   63  1      1         3
1992 1   50  1      1         3
1993 2   47  1      1         5
1996 1   35  1      3         1
1999 2   40  2      3         6
2000 2   54  1      5         4

In [13]:

x1<-s_data[s_data$inc!=98 & s_data$inc!=99,] 
y<-x1[x1$age!=98 & x1$age!=99,] 
z<-y[y$emplnw!=98 & y$emplnw!=99,] 
cleaned_data<-z[z$emptype1!=98 & z$emptype1!=99,]
nrow(cleaned_data)
colnames(cleaned_data)[3]<-"Employment_Type" 
colnames(cleaned_data)[4]<-"Employment_Place"
colnames(cleaned_data)[5]<-"Income"
cleaned_data

[1] 972

     sex age Employment_Type Employment_Place Income
4    2   40  1               1                6
6    2   69  2               5                8
13   1   52  1               2                8
16   2   44  1               1                7
20   1   58  1               2                7
21   2   31  1               2                2
24   1   57  1               3                6
30   2   63  1               4                6
33   1   19  2               2                2
34   1   28  2               2                3
36   2   45  1               3                4
43   2   73  2               3                5
44   2   19  2               1                4
45   1   70  5               8                5
49   1   51  1               3                7
50   2   73  1               2                8
51   2   40  1               5                8
55   2   37  1               3                7
57   1   61  1               3                9
58   2   60  1               6                3
60   2   43  1               3                9
65   1   45  1               1                9
72   2   53  2               3                4
73   1   59  5               3                8
77   1   56  1               2                8
83   2   54  1               3                9
84   2   51  1               1                6
87   1   34  1               1                4
88   1   55  1               5                8
89   1   61  1               1                8
⋮    ⋮   ⋮   ⋮               ⋮                ⋮
1946 2   43  1               4                8
1947 2   30  1               1                5
1950 2   50  2               3                7
1951 1   23  2               1                9
1952 2   51  1               1                8
1956 1   60  1               4                6
1958 2   50  1               1                7
1960 1   25  1               3                2
1961 1   35  1               4                8
1962 2   33  1               6                6
1964 1   53  5               3                4
1965 2   41  1               1                8
1966 1   33  1               2                6
1969 2   55  5               1                7
1970 2   28  1               4                4
1974 1   23  1               5                4
1978 2   35  1               4                5
1979 1   26  2               2                1
1980 1   60  1               3                9
1985 2   19  2               3                6
1986 2   36  2               7                1
1987 1   62  1               6                8
1988 1   59  1               4                8
1990 1   56  1               2                5
1991 1   63  1               1                3
1992 1   50  1               1                3
1993 2   47  1               1                5
1996 1   35  1               3                1
1999 2   40  2               3                6
2000 2   54  1               5                4

In [14]:
summary(cleaned_data)

      sex             age        Employment_Type Employment_Place
 Min.   :1.000   Min.   :18.00   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:31.00   1st Qu.:1.000   1st Qu.:1.000
 Median :1.000   Median :44.00   Median :1.000   Median :3.000
 Mean   :1.429   Mean   :42.99   Mean   :1.292   Mean   :2.964
 3rd Qu.:2.000   3rd Qu.:55.00   3rd Qu.:1.000   3rd Qu.:4.000
 Max.   :2.000   Max.   :90.00   Max.   :5.000   Max.   :8.000
     Income
 Min.   :1.000
 1st Qu.:4.000
 Median :6.000
 Mean   :5.694
 3rd Qu.:8.000
 Max.   :9.000

In [16]:
set.seed(1000)
kmeans3<-kmeans(cleaned_data,centers=3,algorithm=c("Hartigan-Wong"))
kmeans3

K-means clustering with 3 clusters of sizes 267, 382, 323

Cluster means:
       sex      age Employment_Type Employment_Place   Income
1 1.453184 60.31086        1.411985         3.254682 6.093633
2 1.387435 27.95026        1.253927         2.819372 4.955497
3 1.458204 46.45201        1.238390         2.894737 6.238390

Clustering vector:
   4    6   13   16   20   21   24   30   33   34   36   43   44   45   49   50
   3    1    3    3    1    2    1    1    2    2    3    1    2    1    3    1
  51   55   57   58   60   65   72   73   77   83   84   87   88   89   91   92
   3    2    1    1    3    3    3    1    1    1    3    2    1    1    3    1
  94  101  104  107  108  109  111  117  131  133  141  143  147  148  151  157
   2    1    1    3    1    1    3    2    2    3    1    1    3    3    1    2
 160  161  162  167  172  183  184  196  199  209  213  216  217  218  221  228
   3    3    1    2    3    3    3    3    1    1    1    1    1    1    1    1
 233  236  237  238  242  247  251  252  254  255  258  266  268  271  273  274
   2    3    3    1    3    1    1    1    1    2    3    3    3    1    1    1
 282  284  285  286  288  291  293  294  296  298  300  305  307  312  314  315
   3    3    2    3    1    1    3    2    2    2    1    2    1    2    1    3
 317  319  321  323  330  331  335  338  345  347  349  351  352  357  360  365
   1    1    1    2    3    3    3    1    3    2    3    1    3    3    1    3
 367  369  372  373  374  377  390  392  393  397  400  401  404  405  406  408
   3    2    2    1    3    3    3    2    1    1    2    3    1    1    1    3
 413  414  417  421  422  424  425  426  427  428  431  432  436  437  439  447
   2    2    1    1    2    2    3    3    1    3    1    3    2    2    1    3
 448  453  454  455  461  463  464  465  466  468  470  472  474  477  478  481
   1    3    2    1    1    3    1    1    3    1    1    1    3    3    3    1
 482  484  486  492  500  507  511  515  517  519  522  533  534  535  537  539
   1    3    1    3    3    2    3    3    1    3    1    3    2    1    1    1
 548  550  553  554  561  564  565  566  572  576  580  581  582  583  588  589
   1    1    3    2    3    1    1    3    3    3    3    1    1    1    1    2
 593  594  595  596  598  601  604  605  607  609  611  613  614  615  622  624
   3    1    3    1    3    2    3    1    1    2    3    3    1    3    1    3
 625  628  634  636  637  639  645  646  651  652  659  660  663  664  666  667
   3    1    3    1    1    3    1    1    2    2    1    3    1    1    3    3
 670  671  673  674  677  678  680  681  686  688  691  692  693  694  695  697
   1    2    3    3    2    1    1    1    2    2    2    1    1    1    1    1
 699  703  704  705  706  709  712  716  717  718  719  721  723  724  725  726
   3    2    1    3    2    2    3    2    3    3    2    3    2    3    3    1
 727  729  731  732  733  734  735  737  738  739  740  745  746  747  748  751
   3    3    2    2    2    2    3    1    3    3    3    1    3    2    2    2
 752  753  754  756  757  761  768  769  770  771  772  773  777  778  779  780
   1    1    3    1    3    1    2    2    2    2    3    2    2    2    2    2
 782  784  786  787  788  789  790  791  794  796  798  799  801  802  804  805
   2    3    2    3    2    1    1    2    2    2    2    2    3    1    1    3
 808  809  812  817  820  821  822  825  827  829  830  832  834  838  839  840
   3    3    2    2    2    3    2    2    2    1    2    1    2    1    1    3
 841  846  850  854  855  858  859  860  861  862  866  867  868  870  872  873
   2    2    2    2    2    1    3    2    2    2    3    2    1    3    3    2
 875  878  879  880  883  884  885  886  887  888  889  890  891  892  894  895
   1    3    1    3    3    3    2    3    2    3    1    1    1    2    1    2
 896  898  900  901  902  903  904  909  910  911  912  914  915  917  919  922
   2    1    3    3    3    2    2    1    2    1    3    2    3    3    2    2
 923  926  928  930  931  932  933  935  937  939  941  942  944  946  947  948
   3    1    2    2    3    2    2    1    3    1    2    2    2    3    2    2
 951  953  954  956  957  958  961  963  965  966  968  970  974  975  978  979
   2    3    2    3    2    1    2    3    2    3    3    3    2    2    2    1
 981  982  983  989  992  993  994  995  996  999 1000 1002 1004 1005 1006 1007
   1    2    2    1    2    3    3    1    3    3    3    3    2    2    3    2
1009 1010 1011 1012 1013 1014 1015 1017 1018 1020 1021 1025 1027 1029 1030 1031
   1    1    3    3    1    3    3    1    2    1    2    1    3    1    2    2
1033 1035 1039 1041 1042 1044 1046 1047 1048 1050 1051 1052 1053 1054 1058 1059
   3    2    2    2    2    1    3    2    2    3    2    2    2    2    2    2
1062 1064 1065 1067 1068 1071 1072 1073 1074 1076 1078 1079 1080 1081 1084 1085
   1    2    3    1    1    3    1    3    2    3    3    3    2    3    2    3
1089 1094 1095 1097 1098 1102 1104 1105 1106 1107 1110 1111 1113 1116 1118 1119
   3    3    2    1    3    2    2    2    2    1    2    2    2    1    3    2
1121 1122 1123 1125 1126 1127 1129 1131 1132 1133 1134 1136 1137 1138 1139 1140
   2    3    2    2    3    2    2    1    3    2    3    2    2    1    2    3
1142 1145 1146 1150 1151 1155 1156 1158 1159 1160 1162 1163 1164 1165 1166 1167
   2    2    1    3    2    2    1    1    3    1    2    2    2    2    3    3
1168 1169 1171 1172 1173 1174 1175 1176 1179 1180 1182 1186 1187 1189 1190 1192
   3    2    2    2    1    1    3    3    3    3    3    2    1    3    3    2
1193 1195 1196 1197 1199 1200 1202 1203 1205 1207 1208 1209 1211 1213 1214 1215
   3    3    3    3    3    2    1    3    2    3    1    2    1    1    1    3
1216 1218 1220 1222 1223 1225 1227 1231 1233 1234 1236 1237 1238 1239 1241 1244
   1    1    1    2    3    3    1    2    2    3    1    2    2    2    2    2
1245 1246 1247 1251 1252 1253 1259 1262 1265 1266 1267 1272 1273 1275 1276 1277
   3    3    2    2    1    2    3    1    1    3    2    2    2    2    2    2
1278 1280 1281 1282 1284 1286 1287 1288 1289 1290 1291 1292 1295 1296 1299 1301
   2    3    3    3    1    2    3    2    2    2    1    1    3    2    3    2
1302 1308 1309 1310 1312 1313 1317 1321 1323 1324 1325 1327 1328 1329 1330 1331
   3    2    2    1    2    2    3    2    3    3    2    2    1    2    1    1
1333 1334 1338 1340 1341 1342 1344 1345 1346 1347 1349 1350 1352 1353 1354 1355
   2    2    1    2    2    1    1    2    2    2    3    2    1    2    2    3
1356 1357 1360 1361 1362 1365 1366 1368 1372 1373 1374 1375 1376 1378 1383 1384
   2    2    2    1    2    3    2    2    2    2    3    2    2    2    3    1
1386 1388 1391 1392 1394 1395 1398 1399 1400 1402 1403 1406 1408 1410 1412 1413
   2    2    2    1    2    2    1    2    1    2    2    3    1    3    2    2
1415 1418 1421 1423 1425 1426 1427 1429 1432 1436 1442 1443 1445 1446 1447 1449
   3    2    3    1    2    2    2    3    2    1    2    3    3    2    2    1
1451 1452 1453 1454 1455 1456 1457 1459 1461 1463 1464 1465 1466 1467 1468 1469
   3    2    3    3    3    2    3    2    1    1    3    1    2    1    2    1
1473 1474 1476 1478 1479 1480 1481 1483 1484 1485 1490 1491 1497 1502 1504 1507
   2    3    2    1    3    2    1    2    1    1    2    3    3    2    1    1
1509 1510 1513 1514 1517 1520 1521 1524 1525 1526 1531 1532 1533 1535 1536 1537
   2    1    2    3    2    2    3    2    2    3    3    3    2    3    2    2
1538 1539 1541 1542 1545 1547 1549 1552 1553 1554 1560 1561 1565 1566 1570 1572
   2    2    3    2    3    3    3    2    2    3    1    3    2    3    3    1
1573 1574 1576 1577 1578 1579 1581 1582 1585 1587 1588 1591 1593 1597 1598 1600
   3    2    2    3    2    1    2    1    3    3    2    2    1    2    2    1
1601 1603 1610 1611 1613 1614 1615 1616 1619 1621 1622 1624 1627 1629 1630 1631
   3    2    2    2    3    2    2    2    3    3    3    3    1    2    1    3
1632 1634 1637 1638 1639 1641 1643 1648 1649 1652 1658 1660 1661 1662 1663 1664
   3    2    3    2    2    3    1    3    1    1    3    2    3    1    2    1
1665 1666 1669 1670 1672 1673 1674 1677 1680 1683 1684 1685 1686 1688 1689 1690
   2    2    2    3    1    2    3    2    3    3    3    3    3    2    1    3
1691 1695 1696 1699 1700 1703 1704 1705 1706 1709 1710 1711 1713 1714 1716 1717
   2    2    2    1    2    3    2    3    3    2    3    3    3    2    2    3
1719 1721 1724 1727 1728 1730 1732 1734 1735 1736 1738 1740 1742 1743 1744 1745
   2    2    2    2    1    2    2    2    1    3    1    3    3    2    1    2
1747 1748 1750 1752 1753 1755 1756 1759 1761 1762 1764 1774 1775 1779 1782 1783
   2    3    1    2    1    3    2    3    3    3    2    3    2    2    3    2
1785 1786 1790 1791 1793 1795 1796 1799 1800 1801 1802 1803 1806 1810 1812 1813
   3    1    2    3    2    2    2    2    3    2    3    2    2    1    1    2
1814 1819 1820 1821 1823 1824 1825 1826 1828 1831 1834 1835 1837 1840 1841 1842
   2    3    3    3    1    3    1    2    2    3    1    3    1    2    1    3
1844 1845 1847 1848 1851 1852 1853 1854 1855 1858 1862 1863 1864 1865 1868 1872
   3    1    2    2    3    2    2    1    2    3    1    2    1    2    2    2
1873 1874 1875 1878 1879 1880 1881 1883 1884 1885 1886 1887 1890 1892 1893 1894
   3    2    1    2    3    1    2    2    3    1    2    2    1    2    1    3
1895 1896 1898 1899 1900 1905 1906 1908 1910 1912 1913 1916 1918 1921 1922 1923
   1    1    2    1    2    2    3    3    2    2    1    1    2    1    3    2
1924 1926 1927 1928 1930 1932 1934 1936 1938 1940 1942 1943 1944 1945 1946 1947
   3    2    3    2    1    3    2    3    3    3    1    2    3    2    3    2
1950 1951 1952 1956 1958 1960 1961 1962 1964 1965 1966 1969 1970 1974 1978 1979
   3    2    3    1    3    2    2    2    3    3    2    1    2    2    2    2
1980 1985 1986 1987 1988 1990 1991 1992 1993 1996 1999 2000
   1    2    2    1    1    1    1    3    3    2    3    1

Within cluster sum of squares by cluster:
[1]  9673.386 15209.864  9405.901
 (between_SS / total_SS =  83.3 %)

Available components:

[1] "cluster"      "centers"      "totss"        "withinss"     "tot.withinss"
[6] "betweenss"    "size"         "iter"         "ifault"

In [17]:
kmeans3$size

[1] 267 382 323

In [20]:
set.seed(1000)
kmeans6<-kmeans(cleaned_data,centers=6,algorithm=c("Hartigan-Wong"))
kmeans6

K-means clustering with 6 clusters of sizes 61, 190, 160, 188, 210, 163

Cluster means:
       sex      age Employment_Type Employment_Place   Income
1 1.475410 67.50820        1.868852         3.360656 6.180328
2 1.463158 51.64737        1.252632         2.736842 6.368421
3 1.425000 59.20000        1.275000         3.306250 5.987500
4 1.382979 23.05851        1.372340         2.547872 4.367021
5 1.385714 33.09524        1.152381         3.057143 5.442857
6 1.484663 43.53374        1.226994         3.104294 6.294479

Clustering vector:
   4    6   13   16   20   21   24   30   33   34   36   43   44   45   49   50
   6    1    2    6    3    5    3    3    4    4    6    1    4    1    2    1
  51   55   57   58   60   65   72   73   77   83   84   87   88   89   91   92
   6    5    3    3    6    6    2    3    3    2    2    5    2    3    2    1
  94  101  104  107  108  109  111  117  131  133  141  143  147  148  151  157
   5    3    3    6    3    3    6    5    4    2    3    1    6    6    1    5
 160  161  162  167  172  183  184  196  199  209  213  216  217  218  221  228
   2    2    3    4    2    2    2    6    3    3    2    1    3    1    3    3
 233  236  237  238  242  247  251  252  254  255  258  266  268  271  273  274
   4    2    6    3    2    3    3    3    1    5    2    2    2    1    1    1
 282  284  285  286  288  291  293  294  296  298  300  305  307  312  314  315
   2    2    4    2    2    3    6    4    5    5    1    4    1    4    3    2
 317  319  321  323  330  331  335  338  345  347  349  351  352  357  360  365
   1    1    3    4    2    2    6    1    2    5    2    2    2    6    2    2
 367  369  372  373  374  377  390  392  393  397  400  401  404  405  406  408
   2    4    5    3    2    6    2    4    3    3    5    6    3    3    3    6
 413  414  417  421  422  424  425  426  427  428  431  432  436  437  439  447
   5    4    3    3    5    5    6    6    2    5    3    6    5    4    3    2
 448  453  454  455  461  463  464  465  466  468  470  472  474  477  478  481
   1    2    5    2    2    2    3    2    6    2    3    3    2    6    2    3
 482  484  486  492  500  507  511  515  517  519  522  533  534  535  537  539
   1    6    1    2    2    5    6    6    3    2    1    2    5    3    3    3
 548  550  553  554  561  564  565  566  572  576  580  581  582  583  588  589
   3    3    2    4    6    1    3    2    5    2    6    3    2    2    1    5
 593  594  595  596  598  601  604  605  607  609  611  613  614  615  622  624
   6    1    6    1    2    5    2    2    3    5    6    2    3    6    3    2
 625  628  634  636  637  639  645  646  651  652  659  660  663  664  666  667
   6    3    6    2    2    6    3    3    5    4    3    2    3    3    2    2
 670  671  673  674  677  678  680  681  686  688  691  692  693  694  695  697
   1    5    6    6    5    1    3    2    5    5    5    1    1    1    3    3
 699  703  704  705  706  709  712  716  717  718  719  721  723  724  725  726
   2    4    3    5    5    5    2    5    6    2    4    2    5    6    6    2
 727  729  731  732  733  734  735  737  738  739  740  745  746  747  748  751
   5    2    5    4    4    4    6    3    2    2    5    1    2    4    4    4
 752  753  754  756  757  761  768  769  770  771  772  773  777  778  779  780
   1    1    2    2    6    3    5    4    5    4    2    4    4    5    5    4
 782  784  786  787  788  789  790  791  794  796  798  799  801  802  804  805
   4    2    5    6    5    3    3    4    5    5    4    5    6    3    1    6
 808  809  812  817  820  821  822  825  827  829  830  832  834  838  839  840
   6    6    4    5    5    2    5    4    5    2    4    1    5    3    1    5
 841  846  850  854  855  858  859  860  861  862  866  867  868  870  872  873
   5    4    5    4    4    3    6    5    5    5    2    4    3    2    6    4
 875  878  879  880  883  884  885  886  887  888  889  890  891  892  894  895
   3    6    2    2    5    6    5    5    5    6    3    3    2    5    3    5
 896  898  900  901  902  903  904  909  910  911  912  914  915  917  919  922
   5    3    6    6    6    4    4    3    4    1    2    5    2    6    4    5
 923  926  928  930  931  932  933  935  937  939  941  942  944  946  947  948
   6    3    5    4    6    5    4    3    2    3    4    4    4    2    4    4
 951  953  954  956  957  958  961  963  965  966  968  970  974  975  978  979
   4    6    5    6    4    3    5    5    5    6    2    6    5    4    4    1
 981  982  983  989  992  993  994  995  996  999 1000 1002 1004 1005 1006 1007
   3    5    4    3    4    6    6    3    2    2    6    6    5    5    5    5
1009 1010 1011 1012 1013 1014 1015 1017 1018 1020 1021 1025 1027 1029 1030 1031
   2    2    2    2    3    6    2    1    5    3    5    3    6    1    4    4
1033 1035 1039 1041 1042 1044 1046 1047 1048 1050 1051 1052 1053 1054 1058 1059
   6    5    4    4    4    3    6    4    4    6    5    5    4    4    5    5
1062 1064 1065 1067 1068 1071 1072 1073 1074 1076 1078 1079 1080 1081 1084 1085
   2    4    2    3    3    6    3    6    4    2    6    2    5    2    4    6
1089 1094 1095 1097 1098 1102 1104 1105 1106 1107 1110 1111 1113 1116 1118 1119
   5    2    4    3    2    5    4    4    5    3    5    5    5    2    2    5
1121 1122 1123 1125 1126 1127 1129 1131 1132 1133 1134 1136 1137 1138 1139 1140
   5    2    5    4    6    4    4    3    5    5    6    4    5    2    4    2
1142 1145 1146 1150 1151 1155 1156 1158 1159 1160 1162 1163 1164 1165 1166 1167
   4    4    3    6    4    4    3    3    6    3    4    5    5    5    6    6
1168 1169 1171 1172 1173 1174 1175 1176 1179 1180 1182 1186 1187 1189 1190 1192
   2    5    4    5    3    1    6    2    6    2    6    5    3    5    6    4
1193 1195 1196 1197 1199 1200 1202 1203 1205 1207 1208 1209 1211 1213 1214 1215
   6    6    6    6    6    5    1    6    4    2    3    4    3    3    2    6
1216 1218 1220 1222 1223 1225 1227 1231 1233 1234 1236 1237 1238 1239 1241 1244
   3    3    3    5    2    6    1    5    4    6    3    5    4    5    5    4
1245 1246 1247 1251 1252 1253 1259 1262 1265 1266 1267 1272 1273 1275 1276 1277
   6    2    5    5    1    4    2    3    3    2    4    4    5    5    5    4
1278 1280 1281 1282 1284 1286 1287 1288 1289 1290 1291 1292 1295 1296 1299 1301
   4    6    6    6    3    4    2    4    4    5    3    3    6    4    6    4
1302 1308 1309 1310 1312 1313 1317 1321 1323 1324 1325 1327 1328 1329 1330 1331
   6    5    4    3    5    4    6    4    6    2    5    4    2    5    3    2
1333 1334 1338 1340 1341 1342 1344 1345 1346 1347 1349 1350 1352 1353 1354 1355
   4    5    2    5    4    1    3    4    5    5    2    5    3    4    5    2
1356 1357 1360 1361 1362 1365 1366 1368 1372 1373 1374 1375 1376 1378 1383 1384
   4    5    4    1    4    6    5    4    4    5    6    5    5    5    2    3
1386 1388 1391 1392 1394 1395 1398 1399 1400 1402 1403 1406 1408 1410 1412 1413
   5    4    4    3    4    5    1    5    3    4    4    2    1    6    5    5
1415 1418 1421 1423 1425 1426 1427 1429 1432 1436 1442 1443 1445 1446 1447 1449
   6    4    2    3    4    5    4    6    5    3    5    6    2    5    4    3
1451 1452 1453 1454 1455 1456 1457 1459 1461 1463 1464 1465 1466 1467 1468 1469
   6    5    6    2    6    4    6    5    3    3    6    3    5    2    4    3
1473 1474 1476 1478 1479 1480 1481 1483 1484 1485 1490 1491 1497 1502 1504 1507
   5    6    5    2    6    4    3    4    1    3    5    2    6    4    3    2
1509 1510 1513 1514 1517 1520 1521 1524 1525 1526 1531 1532 1533 1535 1536 1537
   5    3    5    6    4    4    2    5    5    2    6    6    4    2    4    5
1538 1539 1541 1542 1545 1547 1549 1552 1553 1554 1560 1561 1565 1566 1570 1572
   4    5    6    5    2    6    2    5    4    6    1    6    4    5    6    1
1573 1574 1576 1577 1578 1579 1581 1582 1585 1587 1588 1591 1593 1597 1598 1600
   2    5    4    6    5    2    5    1    2    6    4    5    3    5    5    3
1601 1603 1610 1611 1613 1614 1615 1616 1619 1621 1622 1624 1627 1629 1630 1631
   2    5    5    4    6    5    5    5    6    6    6    2    3    5    3    2
1632 1634 1637 1638 1639 1641 1643 1648 1649 1652 1658 1660 1661 1662 1663 1664
   6    4    6    4    5    6    2    2    3    3    6    5    6    3    4    3
1665 1666 1669 1670 1672 1673 1674 1677 1680 1683 1684 1685 1686 1688 1689 1690
   5    4    5    2    3    5    2    4    2    6    6    5    2    4    3    2
1691 1695 1696 1699 1700 1703 1704 1705 1706 1709 1710 1711 1713 1714 1716 1717
   5    4    4    1    4    6    5    2    2    4    6    2    5    4    4    2
1719 1721 1724 1727 1728 1730 1732 1734 1735 1736 1738 1740 1742 1743 1744 1745
   4    4    4    5    2    4    4    4    3    2    3    6    2    5    2    5
1747 1748 1750 1752 1753 1755 1756 1759 1761 1762 1764 1774 1775 1779 1782 1783
   4    2    3    4    1    2    4    2    2    6    5    6    5    5    2    4
1785 1786 1790 1791 1793 1795 1796 1799 1800 1801 1802 1803 1806 1810 1812 1813
   6    2    5    2    4    4    5    4    6    5    6    5    4    2    1    5
1814 1819 1820 1821 1823 1824 1825 1826 1828 1831 1834 1835 1837 1840 1841 1842
   5    2    2    2    1    6    3    5    5    6    3    2    1    4    2    2
1844 1845 1847 1848 1851 1852 1853 1854 1855 1858 1862 1863 1864 1865 1868 1872
   6    3    5    4    6    5    5    3    4    6    1    5    3    4    4    4
1873 1874 1875 1878 1879 1880 1881 1883 1884 1885 1886 1887 1890 1892 1893 1894
   6    4    3    5    6    2    4    4    6    3    5    4    3    4    3    6
1895 1896 1898 1899 1900 1905 1906 1908 1910 1912 1913 1916 1918 1921 1922 1923
   2    3    5    3    4    5    6    2    4    5    3    3    4    2    2    4
1924 1926 1927 1928 1930 1932 1934 1936 1938 1940 1942 1943 1944 1945 1946 1947
   6    4    2    4    1    2    5    2    6    6    1    4    2    4    6    5
1950 1951 1952 1956 1958 1960 1961 1962 1964 1965 1966 1969 1970 1974 1978 1979
   2    4    2    3    2    4    5    5    2    6    5    2    4    4    5    4
1980 1985 1986 1987 1988 1990 1991 1992 1993 1996 1999 2000
   3    4    5    3    3    3    3    2    6    5    6    2

Within cluster sum of squares by cluster:
[1] 2050.492 2599.542 2288.569 3130.963 3674.105 2442.969
 (between_SS / total_SS =  92.1 %)

Available components:

[1] "cluster"      "centers"      "totss"        "withinss"     "tot.withinss"
[6] "betweenss"    "size"         "iter"         "ifault"

In [21]:
kmeans6$size

[1]  61 190 160 188 210 163